<div class="login-container">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="letMeIn(f)">

  <mat-form-field hintLabel="Type here your registered email address.">
    <input
      type="email"
      matInput
      ngModel
      name="email"
      placeholder="Type your email.."
      required
      email
      #emailInput="ngModel"
    >
    <mat-error *ngIf="emailInput.hasError('required')">Field must be not empty.</mat-error>
    <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
    [type]="hide ? 'password' : 'text'"
    matInput
    ngModel
    name="password"
    placeholder="Type your password.."
    required
    #passwordInput="ngModel"
    >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordInput.hasError('required')">Field must be not empty.</mat-error>
    <mat-hint>Type here your registered password.</mat-hint>
  </mat-form-field>
  <button
    *ngIf="!isLoading"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="f.invalid"
  > Login</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</div>